body{
    background-color: #ece1e3;
}
h1
{
text-align: center;
font-family: Georgia, Garamond, "Times New Roman", serif;
font-size: 50px;
padding:8px;
}

.lista a{
    align-items: center;
    color:rgb(56, 34, 36);
    font-family: 'Courier New', Courier, monospace;
}

.lista li{
    margin-left: 20%;
}