body{
    background-color: white;
}
.causa{
    background-color: rgb(242, 233, 237);
    border:2px solid rgb(125, 101, 107);
    width: 1100px;
    height: 1300px;
    margin-left: 8%;
}

.one-causa h1{
    text-align: center;
    font-family: Georgia, Garamond, "Times New Roman", serif;
    font-size: 50px;
}

.one-causa a{
    display: block;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin:2% 50px;
    padding: 16px;
    width: 80px;
    box-sizing: border-box;
    background-color: rgb(82, 52, 55);
    color: aliceblue;
    border-radius: 10px;
}

.one-causa img{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 300px;
}
.second-causa{
    margin: 30px 50px;
}

.ingredintes-causa {
    margin: 16px 50px;
}
.pasos-causa{
    margin: 16px 50px;
}


/* SALCHIPAPA STYLE */

.salchipapa{
    background-color: rgb(242, 233, 237);
    border:2px solid rgb(125, 101, 107);
    width: 1100px;
    height: 1300px;
    margin-left: 8%;
}

.one-salchipapa h1{
    text-align: center;
    font-family: Georgia, Garamond, "Times New Roman", serif;
    font-size: 50px;
}

.one-salchipapa a{
    display: block;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin:2% 50px;
    padding: 16px;
    width: 80px;
    box-sizing: border-box;
    background-color: rgb(82, 52, 55);
    color: aliceblue;
    border-radius: 10px;
}

.one-salchipapa img{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 280px;
}
.second-salchipapa{
    margin: 30px 50px;
}

.ingredintes-salchipapa {
    margin: 16px 50px;
}
.pasos-salchipapa{
    margin: 16px 50px;
}


/* Arroz con leche STYLE */

.arroz-con-leche{
    background-color: rgb(242, 233, 237);
    border:2px solid rgb(125, 101, 107);
    width: 1100px;
    height: 1300px;
    margin-left: 8%;
}

.one-arroz-con-leche h1{
    text-align: center;
    font-family: Georgia, Garamond, "Times New Roman", serif;
    font-size: 50px;
}

.one-arroz-con-leche a{
    display: block;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin:2% 50px;
    padding: 16px;
    width: 80px;
    box-sizing: border-box;
    background-color: rgb(82, 52, 55);
    color: aliceblue;
    border-radius: 10px;
}

.one-arroz-con-leche img{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 280px;
}
.second-arroz-con-leche{
    margin: 30px 50px;
}

.ingredientes-arroz-con-leche {
    margin: 16px 50px;
}
.pasos-arroz-con-leche{
    margin: 16px 50px;
}
